.customCheckbox {
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid lightgray;
	background-color: white;
	cursor: pointer;
	position: relative;

	&:not(:disabled):not(:checked):hover {
		border: 2px solid transparent;
		background-image: linear-gradient(white, white),
			radial-gradient(circle at top left, #e983dd80, #579ebfcc);
		background-origin: border-box;
		background-clip: padding-box, border-box;
	}

	&:checked {
		border: 2px solid transparent;
		background-image: linear-gradient(#e983dd80, #579ebfcc),
			radial-gradient(circle at top left, #e983dd80, #579ebfcc);
		background-origin: border-box;
		background-clip: padding-box, border-box;

		&::before {
			opacity: 1;
		}
	}

	&:disabled {
		border: 2px solid lightgrey;
		cursor: not-allowed;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: 12px;
		background-image: url("../../../public/images/check.png");
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}
