.task {
	max-width: calc(100% - 4rem);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
	cursor: pointer;
	outline: none;

	&.completed {
		text-decoration: line-through;
		color: lightgray;
	}
}

.deleteIcon {
	margin-left: auto;
	cursor: pointer;
	color: grey;

	&:hover {
		color: black;
	}
}
